<!DOCTYPE html>
<html>
<head>
  <title>Khana</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" style="background-color:yellow;width:50%">
  <div class="container">
    <class="nav navbar-nav">
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="khaanas/new">Recipe</a></li>
		<li><a href="/">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
